body{
background-size: cover;
background-position: center;
font-family: 'Dosis', Century Gothic;
}
.heading{
width: 100%;
margin: 0px;
text-align: left;
font-size: 30px;
}
.heading2{
float: right;
border: 1px solid white;
}